Repository pulseengine/bazel-file-ops-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, rust-clippy, wit-validation, bazel-build-test, docs-build-check

buildifier:
  name: Buildifier
  description: Format Bazel files with buildifier
  entry: bazel run //:buildifier
  language: system
  pass_filenames: false

rustfmt:
  name: Rust Format
  description: Format Rust files with rustfmt
  entry: rustfmt
  language: system

rust-clippy:
  name: Rust Clippy
  description: Run clippy on all Rust code via Bazel
  entry: bash -c 'if bazel query //:clippy 2>/dev/null; then bazel build //:clippy; else echo "Clippy target not found, skipping"; fi'
  language: system
  pass_filenames: false

wit-validation:
  name: WIT File Validation
  description: Validate WIT files are syntactically correct
  entry: bash -c 'for file in "$@"; do echo "Validating $file"; done'
  language: system

bazel-build-test:
  name: Bazel Build Test
  description: Run basic build test for Bazel files
  entry: bash -c 'echo "Testing Bazel build..." && bazel build //tinygo:file_ops_component_binary //rust:file_ops_component || echo "Build test failed, but continuing"'
  language: system
  pass_filenames: false

docs-build-check:
  name: Documentation Build Check
  description: Validate documentation builds successfully
  entry: bash -c 'cd docs-site && npm run build'
  language: system
  pass_filenames: false

fix: resolve security workflow issues
  .github/workflows/security.yml
Due: none

fix: resolve CI/CD pipeline and performance monitoring issues
  .github/workflows/ci.yml
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: use Bazel-provided toolchains instead of manual tool installation in OCI workflow
  .github/workflows/oci-publish.yml
Due: none

fix: improve pre-commit configuration robustness
  .pre-commit-config.yaml
Due: none

feat: rewrite OCI publishing workflow to use Bazel-native rules
  .github/workflows/oci-publish.yml
Due: none

feat: update rules_wasm_component to branch with go_wasm_component fix
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: resolve C++ toolchain resolution and dependency version warnings
  MODULE.bazel
Due: buildifier, bazel-build-test

docs: add note about multi-file Go component compilation support
  README.md
Due: none

fix: revert dependency versions to resolve C++ toolchain failures
  MODULE.bazel
  MODULE.bazel.lock
  docs-site/.astro/content-modules.mjs
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

chore: force CI cache invalidation for C++ toolchain resolution
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: add explicit C++ toolchain configuration for Linux CI
  MODULE.bazel
Due: buildifier, bazel-build-test

chore: refresh git override to pick up C++ toolchain fix
  MODULE.bazel
Due: buildifier, bazel-build-test

test: trigger CI with latest rules_wasm_component C++ toolchain fix
  MODULE.bazel.lock
  bazel-bin
  bazel-testlogs
Due: none

rebase: update rules_wasm_component to main branch with merged fixes
  MODULE.bazel
  bazel-bin
  bazel-testlogs
Due: buildifier, bazel-build-test

fix: update to latest rules_wasm_component with C++ toolchain fix
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: major breakthrough - resolve C++ toolchain issues and WIT world mismatch
  MODULE.bazel
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

fix: update to commit 05327e3 with WIT file path fix
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: update to latest rules_wasm_component with C++ toolchain fixes
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, bazel-build-test

fix: update to latest rules_wasm_component with dependency alignment
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, bazel-build-test

fix: resolve all CI build issues and complete component integration
  MODULE.bazel
  MODULE.bazel.lock
  tinygo/BUILD.bazel
  wit/file-operations.wit
Due: buildifier, wit-validation, bazel-build-test

fix: add downstream C++ toolchain configuration for Linux CI compatibility
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: resolve CI workflow failures
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
  .gitignore
Due: none

fix: remove references to missing test files in BUILD.bazel
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

fix: add missing compatibility_proxy_repo() call for rules_cc 0.2.0
  MODULE.bazel
Due: buildifier, bazel-build-test

fix: add go.sum and update dependencies for hermetic builds
  .github/workflows/performance.yml
  MODULE.bazel
  MODULE.bazel.lock
  tinygo/BUILD.bazel
  tinygo/go.sum
Due: buildifier, bazel-build-test

fix: add pure = on to go_binary for hermetic builds
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

fix: resolve CI test failures and update target references
  testdata/BUILD.bazel
  testdata/integration_tests.bzl
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

fix: resolve test compilation errors and path validation issues
  .gitignore
  bazel-bazel-file-ops-component
  bazel-bin
  bazel-out
  bazel-testlogs
  tinygo/BUILD.bazel
  tinygo/main.go
  tinygo/operations.go
  tinygo/operations_test.go
Due: buildifier, bazel-build-test

fix: exclude manual targets from CI test runs
  .github/workflows/ci.yml
Due: none

fix: skip component signing in CI workflow
  .github/workflows/ci.yml
  MODULE.bazel
Due: buildifier, bazel-build-test

feat: add production-ready release workflow with OCI signing
  .github/workflows/release.yml
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, bazel-build-test

fix: simplify WASM validation step in CI
  .github/workflows/ci.yml
Due: none

fix: remove unused path/filepath import
  PHASE1_SUMMARY.md
  SIGNING_ANALYSIS.md
  testdata/integration_test.go
Due: none

fix: switch from crane to oras for OCI artifact publishing
  .github/workflows/release.yml
Due: none

chore(deps): update additional docs dependencies
  docs-site/package-lock.json
Due: docs-build-check

feat: add AOT (Ahead-of-Time) compilation and embedding support
  .github/workflows/release.yml
  MODULE.bazel.lock
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

fix: add C++ build tools setup for AOT embedding in release workflow
  .github/workflows/release.yml
Due: none

docs: add documentation for wasm_precompile_multi usage pattern
  tinygo/BUILD.bazel
Due: buildifier, bazel-build-test

fix: enable C++ toolchain detection for Rust binary compilation in release
  .github/workflows/release.yml
Due: none

fix: use legacy C++ toolchain resolution for Rust binary builds
  .github/workflows/release.yml
Due: none

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-build-test: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$
