Repository pulseengine/bazel-file-ops-component: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, rustfmt, prettier, rust-clippy, wit-validation, bazel-build-test, docs-build-check

Path conditions:
  buildifier: any of: \.(bzl|bazel|BUILD)$
  rustfmt: any of: \.rs$
  prettier: any of: \.(js|ts|jsx|tsx|json|yaml|yml|md|mdx|astro|css)$, but not: (package-lock\.json|\.lock|bazel-.*|node_modules)$
  rust-clippy: any of: \.rs$
  wit-validation: any of: \.wit$
  bazel-build-test: any of: \.bzl$|\.bazel$|BUILD$
  docs-build-check: any of: ^docs-site/.*\.(js|ts|astro|mdx|md|json)$

fix: explicitly configure C++ compiler environment for AOT embedding
  .github/workflows/release.yml
Due: prettier

fix: enable C++ toolchain auto-configuration for Rust binaries
  .github/workflows/release.yml
  MODULE.bazel
Due: buildifier, prettier, bazel-build-test

chore: add .bazelrc with C++ toolchain resolution configuration
  .bazelrc
Due: none

fix: resolve 4 critical CI workflow failures
  .github/workflows/performance.yml
  .github/workflows/security.yml
  tinygo/BUILD.bazel
Due: buildifier, prettier, bazel-build-test

fix: remove unsupported '--' separator from wasmtime commands
  .github/workflows/performance.yml
Due: prettier

feat: add platform-specific AOT precompiled benchmarking
  .github/workflows/performance.yml
Due: prettier

fix: disable OCI publish step (no publish target exists)
  .github/workflows/oci-publish.yml
Due: prettier

fix: use Bazel-provided wasmtime instead of manual installation
  .github/workflows/performance.yml
Due: prettier

fix: revert to manual wasmtime installation with proper URLs
  .github/workflows/performance.yml
Due: prettier

feat: register wasmtime toolchain in MODULE.bazel for centralized version management
  .github/workflows/performance.yml
  MODULE.bazel
  MODULE.bazel.lock
Due: buildifier, prettier, bazel-build-test

fix: grant write permissions to perf_test_data directory for wasmtime benchmarks
  .github/workflows/performance.yml
Due: prettier

fix: use bazel cquery to get actual component paths instead of symlinks
  .github/workflows/performance.yml
Due: prettier

fix: add contents write permission to release job for asset uploads
  .github/workflows/ci.yml
Due: prettier

fix: skip PR comments for Dependabot and fix wasmtime PATH in performance workflow
  .github/workflows/performance.yml
Due: prettier

feat: add Tier 1 file content operations (read, write, append, concatenate, move)
  tinygo/json_bridge.go
  tinygo/operations.go
  tinygo/operations_test.go
  wit/file-operations.wit
Due: wit-validation

fix: add debugging and pre-test for regression detection benchmarks
  .github/workflows/performance.yml
Due: prettier

fix: configure Go cache to use tinygo/go.sum path
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/security.yml
Due: prettier

fix: use absolute path for wasmtime WASI directory mapping
  .github/workflows/performance.yml
Due: prettier

fix: skip MkdirAll for current directory in WASI environment
  tinygo/operations.go
Due: none

fix: use absolute paths for file arguments in WASI benchmarks
  .github/workflows/performance.yml
Due: prettier

fix: skip regression analysis comment for Dependabot PRs
  .github/workflows/performance.yml
Due: prettier

docs: align README with PulseEngine visual identity
  README.md
Due: prettier

fix: pin Bazel 8.4.0 to unblock CI for all dependabot PRs
  .bazelversion
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  MODULE.bazel
Due: buildifier, prettier, bazel-build-test

fix: add pull-requests write permission for performance PR comments
  .github/workflows/performance.yml
Due: prettier

fix: pin Bazel 8.4.0 to unblock CI for all dependabot PRs (#82)
  .bazelversion
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  MODULE.bazel
Due: buildifier, prettier, bazel-build-test

ci: migrate 10 of 20 jobs to smithy self-hosted runners
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/oci-publish.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier

ci: migrate 10 of 20 jobs to smithy self-hosted runners (#105)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/oci-publish.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: prettier
